@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

section {
    height: 100vh;
    justify-content: center;
    justify-items: center;
    display: flex;
    align-items: center;
    align-content: center;

}

.container {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col-7 {
    width: 58.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-5 {
    width: 41.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.heading {
    font-family: "DM Sans", sans-serif;
    font-size: 42px;
    line-height: 52px;
    letter-spacing: -0.4000000059604645px;
    text-align: left;
    margin: auto;
    margin-bottom: 41px;


    color: #1E0E62;
}

table {
    width: 570px;
    height: 373.4px;
    top: 173px;
    left: 215px;
    gap: 0px;
    opacity: 0px;


}

td {
    border-bottom: 0.5px solid black;

}

table,
tr,
td {
    border-collapse: collapse;

}

thead {
    color: #A1A1B0;
    text-align: center;

}

tfoot td {
    border-bottom: none;
}

.para {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-top: 25.4px;
    margin-bottom: 16.6px;

    color: #1E0E62;
}

label {

    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2px;
    text-align: left;
    margin-bottom: 14px;
    margin-top: 41px;

}
h5{
    font-family: "DM Sans", sans-serif;
    font-size: 22px;
    line-height: 32px;
    text-align: left;
    margin-left: 35px;
 padding-top: 20px;
    

}
.card-para{
    font-family: "DM Sans", sans-serif;
font-size: 18px;
line-height: 28px;
text-align: left;
width: 199px;
height: 140px;
top: 291px;
left: 951px;
margin-left: 35px;
padding-top: 11.8px;
}

.middle{
    align-items: center;
    width: 130px;
height: 40px;
top: 464px;
left: 950px;
gap: 0px;
opacity: 0px;
margin-left: 34px;
margin-top: 33px;
font-family: "DM Sans", sans-serif;
border-radius: 30px 30px 30px 30px;
font-size: 18px;
font-weight: 500;
line-height: 26px;
text-align: center;
background-color: #25DAC5;
border: 2px solid #25DAC5;
color: #FFFFFF;

}
.card{
width: 270px;
height: 326px;
margin: 131px;
background-color: #EBEAED;
}